<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058398683105-al1kbqdcdof25sm3pgh32g1gmk0pfbqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058398683105-al1kbqdcdof25sm3pgh32g1gmk0pfbqo</string>
	<key>API_KEY</key>
	<string>AIzaSyDdoDeAcfaXxCXwO9aVfh9_ENHKL0wBcaU</string>
	<key>GCM_SENDER_ID</key>
	<string>1058398683105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Spotslot.User</string>
	<key>PROJECT_ID</key>
	<string>spotslot-237bc</string>
	<key>STORAGE_BUCKET</key>
	<string>spotslot-237bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058398683105:ios:15b4fa7769dea6cb0fdca0</string>
	<key>DATABASE_URL</key>
	<string>https://spotslot-237bc.firebaseio.com</string>
</dict>
</plist>